# Download from
# https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/bp_projets_gagnants/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B
bp_projets_gagnants.csv
budget-participatif_operations-projets-gagnants-realisations.geojson
# Download from
# https://data.smartidf.services/api/explore/v2.1/catalog/datasets/budget-participatif_operations-projets-gagnants-realisations/exports/geojson?lang=en&timezone=Europe%2FBerlin

# intermediary files
dataset.parquet.gzip
txts.parquet.gzip
txtsid.parquet.gzip